/*
Start Responsive Table 
Source: https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/
*/

#resp-table {
	display: table;
	width: 100%;
	border: 1px solid black;
}

#resp-table-caption {
	display: table-caption;
	text-align: start;
	font-size: 30px;
	font-weight: bold;
}

#resp-table-header {
	display: table-header-group;
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	font-weight: bold;
	font-size: 25px;
	color: white;
}

.table-header-cell {
	display: table-cell;
	padding: 10px;
	text-align: justify;
	border-bottom: 1px solid black;
}

.resp-table-body {
	display: table-row-group;
}

.resp-table-row {
	display: table-row;
}

.table-body-cell {
	display: table-cell;
}

#resp-table-footer {
	display: table-footer-group;
	background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
	font-weight: bold;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.45);
}

.table-footer-cell {
	display: table-cell;
	padding: 10px;
	text-align: justify;
	border-bottom: 1px solid
		linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
}

/*
End Responsive Table 
Source: https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/
*/

div .resp-table-row:nth-child(even) {
	background-color: #f2f2f2;
}
