* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

.home,
.services,
.products,
.sign-up {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.services {
	/* background-image: url("/images/img-2.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.products {
	/* background-image: url("/images/img-1.jpg"); */
	background-position: center;
	background-size: fill;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.sign-up {
	/* background-image: url("/images/img-8.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.flex-page {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
}

.btn {
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	
}

.btn-primary {
	background-color: gray;
	border: none;
	color: white;
	transition-duration: 0.4s;
}

.btn-secondary {
	background-color: white; 
	border: 2px solid black;
	color: black;
	transition-duration: 0.4s;
	
}

.btn-primary:hover {
	background-color: white; 
	border: 2px solid gray;
	color: black;
}

.btn-secondary:hover {
	background-color: gray; 
	border: 2px solid gray;
	color: white;
}